#map-canvas{
    height:100%;
    width:60%;
    margin:auto;
    border:5px solid purple;
}

button{
 display: block;
 width: 7.5%;
 margin: auto;
}

input{
    display: block;
        width:22.5%;
    margin: auto;
    margin-top: 15px;
}



html,
body{
    height: 80%;
    margin: auto;
    padding: 0;
    background: #e6ffe6;
}